@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
  font-family: "Lato", sans-serif;
  margin:0;
  padding:0;
  min-height:100vh;
  background-image: url(../image/pexels-asad-photo-maldives-1024993.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
h1, h2, h3{
  font-family: "Libre Baskerville", serif;
}
h2{
  font-size: 1.5rem;
}
/*HEADER*/
header{
  background-color:#f1ebe3;
  min-height:10vh; 
  text-align: center;
}
.logo{
  width:150px;
  height:150px;
}
/*barre de nav*/
header nav{
  margin: 2%;
  padding: 2%;
  margin-top: auto;
  display: flex;
  justify-content: space-around;

}
nav a{
  text-decoration:none;
  color:black;
  transition:0.25s;
  padding:1%;
  border-color: black;
  border-radius: 5px;
  border: solid;
}
nav a:hover{
  background-color: black;
  color:white;
  transition: 0.25s;
}
/*Section accueil*/
#section_top{
  min-height:80vh;
  font-family: "Libre Baskerville", serif;
  background-color: #f9e6e0d9;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section_top h1{
  font-size: 3rem;
}
section a:hover{
  background-color: black;
  color:white;
  transition: 0.25s;
}
.topimg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:300px;
  height:400px;
}

/*Section presentation*/
#section_presentation{
  min-height:80vh;
  color: white;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  max-width: 50%;
  margin: 2.5%;
}
/*bouton class section presentation*/
.but{
  max-width: 10%;
  margin: 2.5%;
}
/*Section a propos*/
#section_propos{
  min-height:90vh;
  background-color: #f9e6e096;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section_propos p{
  max-width: 60%;
}
#section_propos a:hover{
  text-decoration:none;
  color:rgb(243, 243, 243);
  transition:0.25s;
  padding:1.5%;
}
/*Section services*/
#section_service{
  min-height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url(../image/pexels-todd-trapani-1198817.jpg);
  background-size: cover;
  object-fit: cover;
}
/*class pour le h2 et p*/
.titre_serv{
  text-align:justify;
  max-width: 70%;
  background-color:rgba(22, 20, 20, 0.888);

}
/*section pourquoi*/
#section_pourquoi{
  min-height: 80vh;
  background-image: url(../image/family-1542595_1280.jpg);
  object-fit: cover;
}
#section_pourquoi div a{
  display: flex;
  justify-content: center;
  max-width: 3%;
}
#section_pourquoi h2{
  font-size: 3rem;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.69);
  text-align: center;
  max-width: 100%;
}
.talent{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.69);
  font-size: 1.4rem;
  text-align: center;
  max-width: 100%;
}
.pro{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.69);
  font-size: 1.4rem;
  text-align: center;
  max-width: 100%;
}
.perso{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.69);
  font-size: 1.4rem;
  text-align: center;
  max-width: 100%;
}
.souv{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.69);
  font-size: 1.4rem;
  text-align: center;
  max-width: 100%;
}

/*section service et card container*/
.cardimg{
  max-width:100%;
	width:150px;
	height:100px;
	object-fit:cover;
}
.card-services{
	text-align:left;
  color:white;
	background-color:rgba(22, 20, 20, 0.83);
	border-radius:2px;
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content:center;
	padding:2%;
	margin:2%;
	box-shadow: rgba(0, 0, 0, 0.429) 0px 5px 15px;
  min-height:450px;
  min-width: 150px;
}
.container-card-services{
	display:flex;
	align-items:center;
	justify-content:center;
	gap:1rem;
}
/*class*/
.bouton{
  text-decoration: none;
  color:rgb(0, 0, 0);
  background-color: #f9e6e0;
  border-radius: 10px;
  padding: 1.5%;
}
/*SECTION CONTACT AVEC FORMULAIRE*/
#section_contact{
  min-height: 90vh;
  background-image: url(../image/pexels-sam-kolder-2387873.jpg);
  background-size:  cover;
  background-repeat: no-repeat;
  text-align: center;
}
#section_contact a{
  text-decoration: none;
  color: white;
}
/*class color div contact*/
.color{
  color: white;
  text-align: center;
}
/*service contacte form*/
form{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 500px;
  min-width: 200px;
  gap: 1rem;
}
input, textarea, select, option{
  background-color: White;
  border: solid;
  border-radius: 20px black;
  min-width: 250px;
}
option{
  background-color: black;
  color: white;
}
/*class bouton retour service contact*/
.retour{
  border-color:white;
  transition: 0.25s;
  border: solid;
  border-radius: 3px;
  padding: 0.5%;
}
/*FOOTER AVEC LOGO LIEN ET RESEAUX SOCIAUX*/
footer{
  min-height: 10vh;
  background-color: #f9e6e0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer a{
  text-decoration: none;
  color: black;
}
footer img{
  width:100px;
  height: 100px;
}
.linklogo{
  display: flex;
  flex-direction: column;
}
footer li{
  list-style: none;
}
/*CLASS CONTACT*/
.card-contact{
	background-color:#f9e6e0bc;
	border-radius:2px;
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content:center;
	padding:2%;
	margin:2%;
	box-shadow: rgba(0, 0, 0, 0.429) 0px 5px 15px;
  min-height:300px;
  min-width: 250px;
  max-width: 300px;
}
/*RESPPONSIVE*/
@media only screen and (max-width:640px){
  #section_service{
    flex-direction: column;
  }
  .card-services{
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    max-height: 150px;
  }
  .container-card-services{
    flex-direction: column;
  }
  #section_contact h2, p{
    color: white;
    background-color: rgba(0, 0, 0, 0.705);
  }
  #section_presentation{
    display: none;
  }
}